In [1]:
# import libraries

import time
import pickle
import pandas as pd

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [3]:
# Memuat dataset
data = pd.read_csv('Prediction Insurance.csv')
data.head(1)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28,0,> 2 Years,Yes,40454,26,217,1

In [4]:
#data preprocessing
data = data.drop('id', axis=1)

In [5]:
data['Gender'] = data['Gender'].map({'Male':1, 'Female':0})

In [6]:
data['Vehicle_Damage'] = data['Vehicle_Damage'].map({'Yes':1, 'No':0})

In [7]:
df_region = pd.get_dummies(data['Region_Code'])

In [8]:
df_2 = data[['Gender','Age','Driving_License', 'Vehicle_Damage', 'Previously_Insured','Response']].merge(df_region, left_index=True, right_index=True)

In [9]:

df_2.columns = df_2.columns.astype(str)
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 59 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Gender              381109 non-null  int64
 1   Age                 381109 non-null  int64
 2   Driving_License     381109 non-null  int64
 3   Vehicle_Damage      381109 non-null  int64
 4   Previously_Insured  381109 non-null  int64
 5   Response            381109 non-null  int64
 6   0                   381109 non-null  bool
 7   1                   381109 non-null  bool
 8   2                   381109 non-null  bool
 9   3                   381109 non-null  bool
 10  4                   381109 non-null  bool
 11  5                   381109 non-null  bool
 12  6                   381109 non-null  bool
 13  7                   381109 non-null  bool
 14  8                   381109 non-null  bool
 15  9                   381109 non-null  bool
 16  10                  381109 non-null  bool
 17  11                  381109 non-null  bool
 18  12                  381109 non-null  bool
 19  13                  381109 non-null  bool
 20  14                  381109 non-null  bool
 21  15                  381109 non-null  bool
 22  16                  381109 non-null  bool
 23  17                  381109 non-null  bool
 24  18                  381109 non-null  bool
 25  19                  381109 non-null  bool
 26  20                  381109 non-null  bool
 27  21                  381109 non-null  bool
 28  22                  381109 non-null  bool
 29  23                  381109 non-null  bool
 30  24                  381109 non-null  bool
 31  25                  381109 non-null  bool
 32  26                  381109 non-null  bool
 33  27                  381109 non-null  bool
 34  28                  381109 non-null  bool
 35  29                  381109 non-null  bool
 36  30                  381109 non-null  bool
 37  31                  381109 non-null  bool
 38  32                  381109 non-null  bool
 39  33                  381109 non-null  bool
 40  34                  381109 non-null  bool
 41  35                  381109 non-null  bool
 42  36                  381109 non-null  bool
 43  37                  381109 non-null  bool
 44  38                  381109 non-null  bool
 45  39                  381109 non-null  bool
 46  40                  381109 non-null  bool
 47  41                  381109 non-null  bool
 48  42                  381109 non-null  bool
 49  43                  381109 non-null  bool
 50  44                  381109 non-null  bool
 51  45                  381109 non-null  bool
 52  46                  381109 non-null  bool
 53  47                  381109 non-null  bool
 54  48                  381109 non-null  bool
 55  49                  381109 non-null  bool
 56  50                  381109 non-null  bool
 57  51                  381109 non-null  bool
 58  52                  381109 non-null  bool
dtypes: bool(53), int64(6)
memory usage: 36.7 MB

In [10]:
#data modelling using Random Forest
x = df_2.drop('Response', axis=1)
y = df_2['Response']
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)

In [11]:
start = time.time()
model = RandomForestClassifier(n_estimators=100, random_state=0)

In [12]:
model.fit(x_train, y_train)
stop = time.time()
print(f"Training Time {stop-start} second")

Training Time 74.00523567199707 second

In [13]:
# # Evaluasi model RandomForestClass
y_predict = model.predict(x_test)
print(classification_report(y_predict, y_test))

              precision    recall  f1-score   support

           0       0.99      0.88      0.93     75362
           1       0.03      0.29      0.05       860

    accuracy                           0.87     76222
   macro avg       0.51      0.58      0.49     76222
weighted avg       0.98      0.87      0.92     76222

In [14]:
# Membangun model menggunakan

import pickle
import gzip

In [16]:
# Simpan model
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)

In [18]:
with open('model_random_forest.pkl','rb') as f_in:
    with gzip.open('model_random_forest.pkl.gz','wb') as f_out:
        f_out.writelines(f_in)